<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:p="http://www.springframework.org/schema/p" 
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
  			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
  			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean id="eventProducer"
		class="com.atb.common.logging.async.AsyncLogEventProducerImpl">
		<property name="asyncAppender" ref="logAppender" />
	</bean>

	<bean id="logAppender"
		class="com.atb.common.logging.appender.slf4j.SLF4JLogAppender" />

	<bean id="logInterceptor" class="com.atb.common.logging.aop.impl.LogInterceptorImpl">
		<property name="eventProducer" ref="eventProducer" />
	</bean>

	<bean id="logger" class="com.atb.common.logging.Logger">
		<property name="eventProducer" ref="eventProducer" />
	</bean>

</beans>